<div class="row">
	<div class="offset3 span6 well well-raised">
		<h1>Is this correct?</h1>
		<p class="lead">Prescriptions</p>
		<% unless @medication_request.prescriptions.empty? %>
		<ul>
			<% @medication_request.prescriptions.each do |prescription| %>
			<li><%=prescription.name%></li>
			<%end%>
		</ul>
		<%end%>
		<p class="lead">Over the Counter/Supplements</p>
		<% unless @medication_request.otc.empty? %>
		<ul>
			<% @medication_request.otc.each do |otc| %>
			<li><%=otc.name%></li>
			<%end%>
		</ul>
		<%end%>
		<%= link_to "Submit Request", medication_request_path(@medication_request), :method => :put, :class => "btn btn-primary btn-large" %>
		<%= link_to "Cancel", medication_request_index_path, :class => "btn btn-large" %>		
	</div>
</div>